.swiper-pagination-bullet{
  background: #F4F4FC;
  height: 16px;
  width: 16px;
  opacity: 1;
}

.swiper-pagination-bullet-active{
  background: #7575e2;
}

.swiper-pagination{
  text-align: right;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0 7px;
}

.banner-swiper.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 22px;
  right: 33px;
  width: auto;
}
